.diagram-container {
    height: 800px;
    width: 100%;
}
.properties-container{
    width: 20%;
}

.container{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
}